{% extends "orders/base.html" %}

{% block body %}
  <h1>Confirmation: Is This Right?</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Your Cart </h3>
            <ul class="list-group list-group-flush">
              {% for ticket in Cart %}
                <li class="list-group-item">{{ticket}}, {{ticket.item_price.size}}
                  {% for cat_topping in ticket.cat_topping.all %}
                    <h6 class="card-subtitle mb-2 text-muted">{{cat_topping.topping}}, {{cat_topping.price}}</h6>
                  {% endfor %}
                  {% for item_topping in ticket.item_topping.all %}
                    <h6 class="card-subtitle mb-2 text-muted">{{item_topping.topping}}, {{item_topping.price}}</h6>
                  {% endfor %}
                  <h6>{{ticket.item_price.price}}</h6>
                <a role="button" class="btn btn-primary" href = "{% url 'remove_from_cart' ticket.id %}">Remove</a>
                </li>
              {% empty %}
                Empty cart
              {% endfor %}
              <li> Total: {{Total}} </li>
            </ul>
          </div>
          <a role="button" id="checkout_button" class="btn btn-primary" href="{% url 'checkout' %}">Checkout</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    const checkout_button = document.getElementById('checkout_button');
    checkout_button.onclick = () => {
      alert("You have successfully placed your order!");
    }
  </script>
{% endblock %}
