{% extends "orders/base.html" %}

{% block body %}
  <h1>Menu</h1>
    {% for category in Category %}
      <h2>  {{ category }} </h2>
      <ul>
        {% for item in Item %}
          {% if item.category == category %}
            <li>
              {{ item }}
              <label for="quantity">Quantity:</label>
              <input type="number" data-item="{{ item }}" data-category="{{ category }}" min="0"></input>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
    <button id="shopping_cart" class="btn btn-primary" >Select Toppings</button>
    <script>
      //If there isn't a shopping cart already, create one
      if(!localStorage.getItem('shopping_cart')){
        var shopping_cart = [];
        localStorage.setItem('shopping_cart', shopping_cart);
      };
    </script>
{% endblock %}
