{% extends "orders/base.html" %}

{% block body %}
  <h1>Menu</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg">
      {% for category in Category %}
        <h2>  {{ category }} </h2>
          {% for item in Item %}
            {% if item.category == category %}
              <div class = card>
                <a href="{% url 'select_size' item.id %}">{{ item }}</a>
              </div>
            {% endif %}
          {% endfor %}
      {% endfor %}
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Your Cart </h3>
            <ul class="list-group list-group-flush">
              {% for ticket in Cart %}
                <li class="list-group-item">{{ticket}}
                  {% for cat_topping in ticket.cat_topping.all %}
                    <h6 class="card-subtitle mb-2 text-muted">{{cat_topping}}</h6>
                  {% endfor %}
                  {% for item_topping in ticket.item_topping.all %}
                    <h6 class="card-subtitle mb-2 text-muted">{{item_topping}}</h6>
                  {% endfor %}
                <button type="button" class="btn btn-primary">Remove</button>
                </li>
              {% empty %}
                Empty cart
              {% endfor %}
              <li> Total: {{Total}} </li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" id = "checkout_button">Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    //Disbale the checkout button if there is nothing in the cart
    const checkout_button = document.getElementById('checkout_button');
    if ({{Total}} === 0) {
      checkout_button.disabled = true;
    };
  </script>
{% endblock %}
