{% extends "orders/base.html" %}
{% block body %}
<h1>Select Toppings</h1>
  <h2>{{item}}</h2>
  <form action="{% url 'add_to_cart' item.id %}" method="post">
    {% csrf_token %}
      {%for topping in item_toppings%}
          <input type="checkbox" name="topping" id="item_{{topping}}" value="{{topping}}">
          <label for="item_{{topping}}">{{topping}}</label>
      {% endfor %}
      {%for topping in cat_toppings%}
          <input type="checkbox" name = "topping" id="cat_{{topping}}" value={{topping}}>
          <label for="cat_{{topping}}">{{topping}}</label>
      {% endfor %}
      <input type="submit" class ="btn btn-primary" value="Add to cart"></input>
  </form>
  <!-- Will want to limit checks to max 3 -->
{% endblock %}
